<div class="container px-5 px-sm-0">
  <h1 class="heading-custom" data-en="Review Edit">レビューの編集</h1>
  <section class="game-date section-back mt-3">
    <h3 class="ml-2 font-jp"><%= link_to @game.title, game_path(@game) %></h3>
    <div class="row">
      <div class="col-md-6">
        <div>
          <% if current_user %>
            <% if current_user.favorites.exists?(game: @game) %>
              <%= link_to game_favorite_path(@game), method: :delete, class: "btn btn-favorite-d-custom-show" do %>
                お気に入り登録済み <i class="fa-solid fa-heart"></i>
              <% end %>
            <% else %>
              <%= link_to game_favorites_path(@game), method: :post, class: "btn btn-favorite-custom-show" do %>
                お気に入り登録済み <i class="fa-regular fa-heart"></i>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <table class="table game-date-table">
          <tbody>
            <tr>
              <th>ジャンル</th>
              <td><%= @game.genre %></td>
            </tr>
            <tr>
              <th>対応機種</th>
              <td><%= @game.status %></td>
            </tr>
            <tr>
              <th>価格</th>
              <td><%= @game.price %>円</td>
            </tr>
            <tr>
              <th>開発元</th>
              <td><%= @game.developer %></td>
            </tr>
            <tr>
              <th>リリース日</th>
              <td><%= @game.release_date %></td>
            </tr>
          </tbody>
        </table>
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <div class="game-info-update">
              <%= link_to edit_game_path(@game), class: 'btn btn-outline-dark rounded-pill btn-block' do %>
                ゲーム情報を編集する <i class="fa-regular fa-pen-to-square"></i>
              <% end %>
            </div>
          <% end %>
        <% end %>
    </div>
    <div class="col-md-6 p-3 mt-3">
      <h4 class="font-jp">課金情報</h4>
      <div><%= @game.payment_details %></div>
    </div>
  </div>
  </section>
  <section class="review-form section-back pr-3 pl-3 mt-3">
    <h3 class="font-al">Update Review</h3>
    <p class="font-jp"><%= link_to @game.title, game_path(@game) %>のレビューを編集してください</p>
    <div class="row">
      <%= render 'reviews/form', model: [@game, @review] %>
    </div>
  </section>
</div>